<?xml version="1.0"?>
<configuration>
	<appSettings>
    <add key="AWSProfileName" value="Boston Scientific"/>
		<add key="AWSRegion" value="us-west-2" />
	</appSettings>
	<connectionStrings/>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<authentication mode="None"/>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
</configuration>
