<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.3.17.6" targetFramework="net452" />
  <package id="AWSSDK.DynamoDBv2" version="3.3.4.17" targetFramework="net452" />
  <package id="AWSSDK.S3" version="3.3.10.2" targetFramework="net452" />
  <package id="AWSSDK.SQS" version="3.3.2.7" targetFramework="net452" />
  <package id="ServiceStack" version="4.5.14" targetFramework="net452" />
  <package id="ServiceStack.Aws" version="4.5.14" targetFramework="net452" />
  <package id="ServiceStack.Client" version="4.5.14" targetFramework="net452" />
  <package id="ServiceStack.Common" version="4.5.14" targetFramework="net452" />
  <package id="ServiceStack.Interfaces" version="4.5.14" targetFramework="net452" />
  <package id="ServiceStack.Text" version="4.5.14" targetFramework="net452" />
</packages>